@use "../variables" as *;
@use "../mixins" as *;

header {
  min-height: 8rem;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &-logo {
    font-family: "Crimson Pro", serif;
    font-size: 1.4rem;
    border: 1px solid $white-color;
    padding: 0.5rem 1.5rem;
  }

  &-list {
    display: none;
    @include breakpoint("md") {
      display: flex;
      align-items: baseline;
    }
  }

  &-item {
    margin-left: 5rem;
  }

  &-menu {
    @include breakpoint("md") {
      display: none;
    }

    display: inline-flex;
    align-items: center;
    width: max-content;
    min-height: 2rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 2rem;
    z-index: 1001;

    .line {
      display: block;
      width: 2.7rem;
      height: 2px;
      background-color: $white-color;
      position: relative;
      transition: 0.4s ease;

      &::before,
      &::after {
        content: "";
        display: block;
        width: inherit;
        height: inherit;
        background-color: $white-color;
        position: absolute;
        left: 0;
        transition: 0.4s ease;
      }

      &::before {
        top: -0.9rem;
      }

      &::after {
        top: 0.9rem;
      }
    }

    &.active {
      .line {
        background-color: transparent;
        transform: rotate(180deg);

        &::before,
        &::after {
          top: 0;
        }

        &::before {
          transform: rotate(135deg);
        }

        &::after {
          transform: rotate(-135deg);
        }
      }
    }
  }
}
